parameters:

    paths:
        - src/

    level: 10

    ignoreErrors:
        - '#Trait Axiom\\DataForge\\Concerns\\AsDto is used zero times and is not analysed.#'
    
    treatPhpDocTypesAsCertain: false

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
